* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}
.navbar {
  position: sticky;
  top: 0;  /* Sticks the navbar to the top */
  width: 100%;  /* Ensures it spans the full width of the page */
  background-color: #333;  /* Background color for the navbar */
  z-index: 1000;  /* Ensures it's on top of other content */
  box-shadow: 0 4px 2px -2px gray;  /* Optional shadow for better visibility */
  height: 30px;
}
.nav {
  position: sticky;
  top: 0;  /* Sticks the navbar to the top */
  width: 100%;  /* Ensures it spans the full width of the page */
  background-color: #333;
  border-bottom: 
  height: 55px;
}
