* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100;
}
.container {
  position: relative;
  width: 1396px;
  max-width: 100%;
  height: calc(100% -40px);
  background: #fff;
}
