* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: red;
}

#wrapper {
  max-width: 800px;
  min-height: 500px;
}
#left_panel {
  min-height: 400px;
  background-color: red;
}
